<!DOCTYPE html>
<html>
    <head>
    <title>homepage</title>
    <link rel="stylesheet" href="../static/stylesheet2.css">
    </head>
    <body>
        <div class="div1">
            <h3>Contact Us +96366 20000/01 | suh@hospital.com </h3>
        </div>
        <table class="tab1">
            <td>
             <p><span>Super</span>Hospital</p>
            </td>
            <td>
             <nav>
                <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('about')}}">About Us</a>
            <a href="{{url_for('services')}}">Services</a>
            <a href="{{url_for('doctors')}}">Doctors</a>
            <a href="{{url_for('contact')}}">Contact Us</a>
            <a href="{{url_for('dashboard')}}">Dashboard</a>
             </nav>
             </td></table>
            <div class="div7">
                <div >
                <img src="../static/hosp_pics/aboutpg.png" ></div>
                <div  class="d3"><p class="p6">Welcome to <span class="sp">SUPER Hospital</span></p>
                <h2 class="h">Best Medical & Health Care Needs To Our Patients</h2>
                <p class="p6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eius consectetur adipisci, modi quo facere quidem inventore doloribus cum ipsum quibusdam doloremque pariatur ullam, enim repudiandae, tenetur facilis iusto veritatis.</p>
                <p class="p6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolor cumque veritatis aliquam! Quisquam, aut explicabo! Illum inventore ullam neque, rem odit tempora autem sit nam illo possimus recusandae ex!</p>
                </div>
            </div>
            <div class="div8">
                <h5 class="p6">Address</h5>
               <h2 class="h">SUPER Hospital & Research Center</h2>
               <h5>180,Shri Rampuri,Niwaru Road,</h5>
               <h5>Kaal Road</h5>
               <h5>Benad,Bharatpur Raj 302020</h5>
               <h5>Contact No - 0123456789</h5>
               <h5>Email:ukh@hospital.com</h5>
            </div>
             <footer>
                <div class="div6"><span>&#169</span>SUPER Hospital,site designed & developed by MITRAz</div>
            </footer>
            </form>
            </body>