<!DOCTYPE html>
<html>
    <head>
    <title>homepage</title>
    <link rel="stylesheet" href="../static/stylesheet2.css">
    </head>
    <body>
        
        <div class="div1">
            <h3>Contact Us +96366 20000/01 | suh@hospital.com </h3>
        </div>
        <table class="tab1">
            <td>
             <p><span>Super</span>Hospital</p>
            </td>
            <td>
             <nav>
                <a href="{{url_for('home')}}">Home</a>
                <a href="{{url_for('about')}}">About Us</a>
                <a href="{{url_for('services')}}">Services</a>
                <a href="{{url_for('doctors')}}">Doctors</a>
                <a href="{{url_for('contact')}}">Contact Us</a>
                <a href="{{url_for('dashboard')}}">Dashboard</a>
             </nav>
             </td></table>
              <p class="p3">.........</p>
              <p class="head">Information Not Available</p>
             <footer>
                <div class="div6"><span>&#169</span>SUPER Hospital,site designed & developed by MITRAz</div>
            </footer>