<!DOCTYPE html>
<html>
    <head>
    <title>homepage</title>
    <link rel="stylesheet" href="../static/stylesheet2.css">
    </head>
    <body>
        <div class="div1">
            <h3>Contact Us +96366 20000/01 | suh@hospital.com </h3>
        </div>
        <table class="tab1">
            <td>
             <p><span>Super</span>Hospital</p>
            </td>
            <td>
             <nav>
               <a href="{{url_for('home')}}">Home</a>
               <a href="{{url_for('about')}}">About Us</a>
               <a href="{{url_for('services')}}">Services</a>
               <a href="{{url_for('doctors')}}">Doctors</a>
               <a href="{{url_for('contact')}}">Contact Us</a>
               <a href="{{url_for('dashboard')}}">Dashboard</a>
             </nav>
             </td></table>
             <div class="div9">
               
                <h4 class="head2">OUR OUTSTANDING SERVICES</h4>
                <img src="../static/hosp_pics/servicepg.png">
                <h1 class="head">What We Offer!</h1>
                <li>DENTAL IMPLANTS</li>
                <li>WHITENING</li>
                <li>VACCINATIONS</li>
                <li>LABORATORY</li>
                <li>MEDICAL DRESSAGE</li>
                <li>EMERGENCY CONTRACEPTION</li>
             </div>
             <hr>
             <div class="div10">
                <p class="dotp">..........</p>
                <h1 class="head">Our Department</h1>
                <li>DENTAL Care</li>
                <li>OTOLOGY</li>
                <li>CARDIAC</li>
                <li>HEPATOLOGY</li>
                <li>ORTHOPEDICS</li>
                <li>GASTROENTEROLOGY</li>
                <li>OUTPATIENT</li>
                <li>MENTAL HEALTH</li>
             </div>>

             <footer>
                <div class="div6"><span>&#169</span>SUPER Hospital,site designed & developed by MITRAz</div>
            </footer>